* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  background: url("./images/Bitmap.png");
  background-size: cover;
}
header .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 128px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
header .container .header-img {
  width: 125px;
  height: 125px;
}
header .container .header-img img {
  width: 100%;
}
header p {
  color: #4C545C;
  max-width: 700px;
  width: 100%;
  text-align: center;
  font-family: Bai Jamjuree SemiBold;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.75px;
}

main .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
main .container .section1 {
  padding-top: 16px;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
main .container .section1 p {
  color: #9EABB2;
  text-align: center;
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.15px;
  margin-bottom: 48px;
}
main .container .section1 .buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 150px;
}
main .container .section1 .buttons a {
  padding: 13px 36px;
  border-radius: 28px;
  background: #6174FF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.5px;
  text-decoration: none;
}
main .container .section1 .buttons a:nth-child(1) {
  background: #26BBA4;
}
main .container .section1 h2 {
  color: #4C545C;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.587px;
  margin-bottom: 19px;
}
main .container .section1 h4 {
  color: #9EABB2;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.135px;
}
main .container .section2 {
  padding-top: 80px;
  display: flex;
  gap: 110px;
  align-items: center;
}
main .container .section2 .desctop-left {
  max-width: 700px;
  width: 100%;
  overflow: hidden;
}
main .container .section2 .desctop-left img {
  width: 100%;
}
main .container .section2 .desctop-right {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
main .container .section2 .desctop-right .box h5 {
  color: #4C545C;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.391px;
}
main .container .section2 .desctop-right .box p {
  color: #9EABB2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.12px;
}
main .container .section3 {
  text-align: center;
  padding-top: 150px;
}
main .container .section3 h2 {
  color: #4C545C;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.587px;
  margin-bottom: 19px;
}
main .container .section3 p {
  color: #9EABB2;
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.135px;
  margin-bottom: 110px;
}
main .container .section3 .group {
  max-width: 896px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */